<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People List</title>
</head>
<body>
    {{#each people}}
        <p>Hello {{this.name}}, you are at age: {{this.age}}</p>
    {{/each}}
</body>
</html>
